@media (max-width: 1000px) {
    .header__nav-list {
        display: none;
        position: absolute;
        z-index: 5;
        top: 60px;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        background-color: #f7f7f7;

        li {
            padding: 10px;
        }
    }

    .header__nav-btn {
        display: block;
    }
}